%h1 Tiny Dancer

#music
  = audio_tag(nil, :controls => true)

%table
  %tr
    %th Artist
    %th Album
    %th Song
    %th Position
    %th Image
  - @artists.each do |artist|
    - artist.albums.each do |album|
      - album.songs.each do |song|
        %tr{:'data-position' => "#{song.position}", :'data-filename' => "#{song.filename}"}
          %td= artist.name
          %td= album.name
          %td.song_name= song.name
          %td.song_position= song.position
          %td= image_tag(album.image, :size =>"100x100")
