%h1 Underscore timer

= text_field_tag 'number', nil, :autofocus => true
= submit_tag 'Add Number', :id => 'btn-number'
= submit_tag 'Square', :id => 'btn-square'
= submit_tag 'Function', :id => 'btn-function'
= submit_tag 'Start', :id => 'btn-start'
= submit_tag 'Stop', :id => 'btn-stop'

#numbers
  .clear
%br
#numbers_array
