%h1 jQuery!!!
.one a
.one b
.one c
#two d

%p
  .one= text_field_tag 'name'
  .one= submit_tag 'get name', :id => 'btn'

%p
  .one= text_field_tag 'color'
  .one= submit_tag 'get color', :id => 'btn-color'
%p
  .one= submit_tag 'hide', :id => 'btn-hide'
  .one= submit_tag 'show', :id => 'btn-show'

%span
  %p
    .one= label_tag 'Length'
    .one= text_field_tag 'length'
%span
  %p
    .one= label_tag 'Width'
    .one= text_field_tag 'width'
%p
  .one= submit_tag 'calculate', :id => 'btn-calculate'
%p
  #area

