{{#if isEditing}}
  <button {{action 'doneEditing'}}>Done</button>
  <p>{{view Ember.TextField valueBinding='title'}}</p>
  <p>{{view Ember.TextField valueBinding='author'}}</p>
  <p>{{view Ember.TextArea valueBinding='body'}}</p>
{{else}}
  <button {{action 'edit'}}>Edit</button>
  {{title}}
  {{author}}
  {{body}}
{{/if}}