<div class="row">
  <div class="twelve columns">
    <ul class="nav-bar">
      <li class="active"><%= link_to('Home', root_path) %></li>
      <li><%= link_to('Create User', new_user_path) %></li>
      <li><%= link_to('Show Users', users_path) %></li>
      <li><%= link_to('Priorities', priorities_path) %></li>
      <li><%= link_to('Tasks', tasks_path) %>
      <%== intellinav %>
    </ul>
  </div>
</div>
